{% extends './plantilla.html' %}
{% block contenido %}



<!-- Sales Chart Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
      <div class="bg-light text-center rounded p-4">
          <div class="d-flex align-items-center justify-content-between mb-4">
              <h6 class="mb-0">Añadir Doctor</h6>
          </div>
          <form class="" action="/procesarActualizacionDoctor/{{doctor.id}}" enctype="multipart/form-data" method="post" id="frm_nuevo_doctor">
            {% csrf_token %}
            <input type="hidden" name="id"  value="{{doctor.id}}">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" name="nombreDoctor" id="nombreDoctor"placeholder="name@example.com" value="{{doctor.nombreDoctor}}" required>
              <label for="nombreDoctor">Nombres</label>
              <div id="error-nombreDoctor" class="error-messages"></div>
            </div>
            <script>
                      document.getElementById('nombreDoctor').onkeypress = function(e) {
                        var charCode = (typeof e.which == "number") ? e.which : e.keyCode;
                        var charTyped = String.fromCharCode(charCode);
                        var regex = /^[A-Za-záéíóúÁÉÍÓÚ\s]+$/;
                        if (!regex.test(charTyped) && charCode !== 8 && charCode !== 0) {
                          e.preventDefault();
                        }
                      };
                    </script>

            <div class="form-floating mb-3">
              <input value="{{doctor.apellidoDoctor}}" type="text" class="form-control" name="apellidoDoctor" id="apellidoDoctor"placeholder="name@example.com" required>
              <label for="apellidoDoctor">Apellidos</label>
              <div id="error-apellidoDoctor" class="error-messages"></div>
            </div>
            <script>
                      document.getElementById('apellidoDoctor').onkeypress = function(e) {
                        var charCode = (typeof e.which == "number") ? e.which : e.keyCode;
                        var charTyped = String.fromCharCode(charCode);
                        var regex = /^[A-Za-záéíóúÁÉÍÓÚ\s]+$/;
                        if (!regex.test(charTyped) && charCode !== 8 && charCode !== 0) {
                          e.preventDefault();
                        }
                      };
                    </script>

            <div class="form-floating mb-3">
              <input value="{{doctor.cedulaDoctor}}" type="text" class="form-control" name="cedulaDoctor" id="cedulaDoctor"placeholder="name@example.com" required>
              <label for="cedulaDoctor">Cédula</label>
              <div id="error-cedulaDoctor" class="error-messages"></div>
            </div>
            <script>
                      document.getElementById('cedulaDoctor').oninput = function(e) {
                        var inputValue = this.value;

                        this.value = inputValue.replace(/[^\d]/g, '');

                      };
                    </script>

            <div class="form-floating mb-3">
              <input value="{{doctor.telefonoDoctor}}" type="text" class="form-control" name="telefonoDoctor" id="telefonoDoctor"placeholder="name@example.com" required>
              <label for="telefonoDoctor">Teléfono</label>
              <div id="error-telefonoDoctor" class="error-messages"></div>
            </div>
            <script>
                      document.getElementById('telefonoDoctor').oninput = function(e) {
                        var inputValue = this.value;

                        this.value = inputValue.replace(/[^\d]/g, '');

                      };
                    </script>

            <div class="form-floating mb-3">
              <input value="{{doctor.correoDoctor}}" type="email" class="form-control" name="correoDoctor" id="correoDoctor"placeholder="name@example.com" required>
              <label for="correoDoctor">Correo</label>
              <div id="error-correoDoctor" class="error-messages"></div>
            </div>

            <div class="form-floating mb-3">
              <input value="{{doctor.fechaNacimientoDoctor}}" type="date" class="form-control" name="fechaNacimientoDoctor" id="fechaNacimientoDoctor"placeholder="name@example.com" required>
              <label for="fechaNacimientoDoctor">Fecha de Nacimiento</label>
              <div id="error-fechaNacimientoDoctor" class="error-messages"></div>
            </div>
            <script>
              var fechaActual = new Date();
              var inputFecha = document.getElementById('fechaNacimientoDoctor');

              inputFecha.onchange = function() {
                var fechaSeleccionada = new Date(this.value);
                if (fechaSeleccionada > fechaActual) {
                  inputFecha.value = fechaActual.toISOString().slice(0, 10);
                }
              };
            </script>

            <div class="form-floating mb-3">
              <input value="{{doctor.especialidadDoctor}}" type="text" class="form-control" name="especialidadDoctor" id="especialidadDoctor"placeholder="name@example.com" required>
              <label for="especialidadDoctor">Especialidad</label>
              <div id="error-especialidadDoctor" class="error-messages"></div>
            </div>
            <script>
                      document.getElementById('especialidadDoctor').onkeypress = function(e) {
                        var charCode = (typeof e.which == "number") ? e.which : e.keyCode;
                        var charTyped = String.fromCharCode(charCode);
                        var regex = /^[A-Za-záéíóúÁÉÍÓÚ\s]+$/;
                        if (!regex.test(charTyped) && charCode !== 8 && charCode !== 0) {
                          e.preventDefault();
                        }
                      };
                    </script>

            <div class="form-floating mb-3">
              <input type="file" class="form-control" name="fotoDoctor" id="fotoDoctor"  accept="image/*" required>
              <label for="fotoDoctor">Foto del Doctor</label>
              <div id="error-fotoDoctor" class="error-messages"></div>
            </div>


            <script>
                    $(document).ready(function () {
                    $("#fotoDoctor").fileinput({
                        showUpload:false,
                        showRemove: false,
                        language:'es',
                      });
                    });
            </script>




            <div class="form-floating">
              <textarea class="form-control" name="direccionDoctor" placeholder="Leave a comment here" id="direccionDoctor" style="height: 150px;" required>{{doctor.direccionDoctor}}</textarea>
              <label for="direccionDoctor">Dirección</label>
              <div id="error-direccionDoctor" class="error-messages"></div>
            </div>
            <br>
            <button type="submit" name="button" class="btn btn-outline-info rounded-pill m-2">Guardar</button>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/listadoDoctores/" class="btn btn-outline-danger rounded-pill m-2">Cancelar</a>
          </form>
      </div>

    </div>
</div>
<!-- Sales Chart End -->



  <script type="text/javascript">
    $("#frm_nuevo_doctor").validate({
      errorPlacement: function(error, element) {
        var errorContainerId = 'error-' + element.attr('name');
        error.appendTo('#' + errorContainerId);
      },
      rules:{
        "nombreDoctor":{
          required:true
        },
        "cedulaDoctor":{
          required:true,
          minlength:10,
          maxlength:10
        },
        "apellidoDoctor":{
          required:true
        },
        "telefonoDoctor":{
          required:true,
          minlength:10,
          maxlength:10
        },
        "correoDoctor":{
          required:true,
          email:true
        },
        "fechaNacimientoDoctor":{
          required:true
        },
        "direccionDoctor":{
          required:true
        },
        "fotoDoctor":{
          required:true
        },
        "especialidadDoctor":{
          required:true
        }
      },
      messages:{
        "nombreDoctor":{
          required:"Debe ingresar el nombre del doctor"
        },
        "cedulaDoctor":{
          required:"Debe ingresar la cédula del doctor",
          minlength:"Su cédula debe tener solo 10 dígitos",
          maxlength:"Su cédula debe tener solo 10 dígitos"
        },
        "apellidoDoctor":{
          required:"Debe ingresar el apellido del dcotor"
        },
        "telefonoDoctor":{
          required:"Debe ingresar el número del doctor",
          minlength:"Su teléfono debe tener solo 10 dígitos",
          maxlength:"Su teléfono debe tener solo 10 dígitos"
        },
        "correoDoctor":{
          required:"Debe ingresr el correo del doctor",
          email:"Por favor ingrese un correo electrónico válido"
        },
        "fechaNacimientoDoctor":{
          required:"Debe ingresar la fecha de nacimiento del doctor"
        },
        "direccionDoctor":{
          required:"Debe ingresar la dirección del doctor"
        },
        "fotoDoctor":{
          required:"Debe seleccionar la foto del doctor"
        },
        "especialidadDoctor":{
          required:"Debe ingresar la especialidad del doctor"
        }
      }
    });
  </script>

{% endblock %}
