{% extends './plantilla.html' %}
{% block contenido %}

<!-- Sales Chart Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="bg-light text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">Edita la Información del paciente</h6>
            </div>
            <form action="/procesarActualizacionPaciente/{{ paciente.idPaciente }}/" method="post" id="frm_editar_paciente">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{paciente.id}}">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="nombrePaciente" id="nombrePaciente" placeholder="Ingrese el nombre del paciente" value="{{paciente.nombrePaciente}}" required>
                    <label for="nombrePaciente">Nombre del paciente</label>
                    <div id="error-nombrePaciente" class="error-messages"></div>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="apellidoPaciente" id="apellidoPaciente" placeholder="Ingrese el apellido del paciente" value="{{paciente.apellidoPaciente}}" required>
                    <label for="apellidoPaciente">Apellido del paciente</label>
                    <div id="error-apellidoPaciente" class="error-messages"></div>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="cedulaPaciente" id="cedulaPaciente" placeholder="Ingrese la cédula del paciente" value="{{paciente.cedulaPaciente}}" required>
                    <label for="cedulaPaciente">Cédula del paciente</label>
                    <div id="error-cedulaPaciente" class="error-messages"></div>
                </div>
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" name="fechaNacimientoPaciente" id="fechaNacimientoPaciente" value="{{paciente.fechaNacimientoPaciente}}" required>
                    <label for="fechaNacimientoPaciente">Fecha de Nacimiento</label>
                    <div id="error-fechaNacimientoPaciente" class="error-messages"></div>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="nacionalidadPaciente" id="nacionalidadPaciente" placeholder="Ingrese la nacionalidad del paciente" value="{{paciente.nacionalidadPaciente}}" required>
                    <label for="nacionalidadPaciente">Nacionalidad del paciente</label>
                    <div id="error-nacionalidadPaciente" class="error-messages"></div>
                </div>
                <div class="form-floating mb-3">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                      <h6 class="mb-0" onclick="mostrarListaRepresentantes()">Representante del paciente</h6>
          
                  <select name="representante_id" id="representante_id" class="form-control" required>
                      {% for representante in representantes %}
                      <option value="{{ representante.id }}">{{ representante.nombreRepresentante }} {{ representante.apellidoRepresentante }}</option>
                      {% endfor %}
                  </select>
                </div>
                <button type="submit" name="button" class="btn btn-outline-info rounded-pill m-2">Guardar</button>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/" class="btn btn-outline-danger rounded-pill m-2">Cancelar</a>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#frm_editar_paciente").validate({
        errorPlacement: function(error, element) {
            var errorContainerId = 'error-' + element.attr('name');
            error.appendTo('#' + errorContainerId);
        },
        rules: {
            "nombrePaciente": {
                required: true
            },
            "apellidoPaciente": {
                required: true
            },
            "cedulaPaciente": {
                required: true
            },
            "fechaNacimientoPaciente": {
                required: true
            },
            "nacionalidadPaciente": {
                required: true
            },
            "direccionPaciente": {
                required: true
            }
        },
        messages: {
            "nombrePaciente": {
                required: "Debe ingresar el nombre del paciente"
            },
            "apellidoPaciente": {
                required: "Debe ingresar el apellido del paciente"
            },
            "cedulaPaciente": {
                required: "Debe ingresar la cédula del paciente"
            },
            "fechaNacimientoPaciente": {
                required: "Debe ingresar la fecha de nacimiento del paciente"
            },
            "nacionalidadPaciente": {
                required: "Debe ingresar la nacionalidad del paciente"
            },
            "direccionPaciente": {
                required: "Debe ingresar la dirección del paciente"
            }
        }
    });

    {% if messages %}
        {% for message in messages %}
            iziToast.success({
                title: 'Éxito',
                message: '{{ message }}',
                position: 'topRight',
            });
        {% endfor %}
    {% endif %}
</script>

{% endblock %}
