{% extends './plantilla.html' %}
{% block contenido %}



<!-- Sales Chart Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
      <div class="bg-light text-center rounded p-4">
          <div class="d-flex align-items-center justify-content-between mb-4">
              <h6 class="mb-0">Edita la Información del representante</h6>
          </div>
          <form class="" action="/procesarActualizacionRepresentante/{{representante.id}}" method="post" id="frm_nuevo_representante">
            {% csrf_token %}
            <input type="hidden" name="id"  value="{{representante.id}}">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" name="nombreRepresentante" id="nombreRepresentante"placeholder="name@example.com" value="{{representante.nombreRepresentante}}" required>
              <label for="nombreRepresentante">Nombres</label>
              <div id="error-nombreRepresentante" class="error-messages"></div>
            </div>
            <script>
                      document.getElementById('nombreRepresentante').onkeypress = function(e) {
                        var charCode = (typeof e.which == "number") ? e.which : e.keyCode;
                        var charTyped = String.fromCharCode(charCode);
                        var regex = /^[A-Za-záéíóúÁÉÍÓÚ\s]+$/;
                        if (!regex.test(charTyped) && charCode !== 8 && charCode !== 0) {
                          e.preventDefault();
                        }
                      };
                    </script>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" name="apellidoRepresentante" id="apellidoRepresentante"placeholder="name@example.com" value="{{representante.apellidoRepresentante}}" required>
              <label for="apellidoRepresentante">Apellidos</label>
              <div id="error-apellidoRepresentante" class="error-messages"></div>
            </div>
            <script>
                      document.getElementById('apellidoRepresentante').onkeypress = function(e) {
                        var charCode = (typeof e.which == "number") ? e.which : e.keyCode;
                        var charTyped = String.fromCharCode(charCode);
                        var regex = /^[A-Za-záéíóúÁÉÍÓÚ\s]+$/;
                        if (!regex.test(charTyped) && charCode !== 8 && charCode !== 0) {
                          e.preventDefault();
                        }
                      };
                    </script>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" name="cedulaRepresentante" id="cedulaRepresentante"placeholder="name@example.com" value="{{representante.cedulaRepresentante}}" required>
              <label for="cedulaRepresentante">Cédula</label>
              <div id="error-cedulaRepresentante" class="error-messages"></div>
            </div>
            <script>
                      document.getElementById('cedulaRepresentante').oninput = function(e) {
                        var inputValue = this.value;

                        this.value = inputValue.replace(/[^\d]/g, '');
                      };
                    </script>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" name="telefonoRepresentante" id="telefonoRepresentante"placeholder="name@example.com" value="{{representante.telefonoRepresentante}}" required>
              <label for="telefonoRepresentante">Teléfono</label>
              <div id="error-telefonoRepresentante" class="error-messages"></div>
            </div>
            <script>
                      document.getElementById('telefonoRepresentante').oninput = function(e) {
                        var inputValue = this.value;

                        this.value = inputValue.replace(/[^\d]/g, '');
                      };
                    </script>

            <div class="form-floating mb-3">
              <input type="email" class="form-control" name="correoRepresentante" id="correoRepresentante"placeholder="name@example.com" value="{{representante.correoRepresentante}}" required>
              <label for="correoRepresentante">Correo</label>
              <div id="error-correoRepresentante" class="error-messages"></div>
            </div>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" name="nacionalidadRepresentante" id="nacionalidadRepresentante"placeholder="name@example.com" value="{{representante.nacionalidadRepresentante}}" required>
              <label for="nacionalidadRepresentante">Nacionalidad</label>
              <div id="error-nacionalidadRepresentante" class="error-messages"></div>
            </div>
            <script>
                      document.getElementById('nacionalidadRepresentante').onkeypress = function(e) {
                        var charCode = (typeof e.which == "number") ? e.which : e.keyCode;
                        var charTyped = String.fromCharCode(charCode);
                        var regex = /^[A-Za-záéíóúÁÉÍÓÚ\s]+$/;
                        if (!regex.test(charTyped) && charCode !== 8 && charCode !== 0) {
                          e.preventDefault();
                        }
                      };
                    </script>

            <div class="form-floating">
              <textarea class="form-control" name="direccionRepresentante" placeholder="Leave a comment here" id="direccionRepresentante" style="height: 150px;" required>{{representante.direccionRepresentante}}</textarea>
              <label for="direccionRepresentante">Dirección</label>
              <div id="error-direccionRepresentante" class="error-messages"></div>
            </div>
            <br>
            <button type="submit" name="button" class="btn btn-outline-info rounded-pill m-2">Guardar</button>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/" class="btn btn-outline-danger rounded-pill m-2">Cancelar</a>
          </form>
      </div>

    </div>
</div>


  <script type="text/javascript">
    $("#frm_nuevo_representante").validate({
      errorPlacement: function(error, element) {
        var errorContainerId = 'error-' + element.attr('name');
        error.appendTo('#' + errorContainerId);
      },
      rules:{
        "nombreRepresentante":{
          required:true
        },
        "cedulaRepresentante":{
          required:true,
          minlength:10,
          maxlength:10
        },
        "apellidoRepresentante":{
          required:true
        },
        "telefonoRepresentante":{
          required:true,
          minlength:10,
          maxlength:10
        },
        "correoRepresentante":{
          required:true,
          email:true
        },
        "nacionalidadRepresentante":{
          required:true
        },
        "direccionRepresentante":{
          required:true
        }
      },
      messages:{
        "nombreRepresentante":{
          required:"Debe ingresar el nombre del representante"
        },
        "cedulaRepresentante":{
          required:"Debe ingresar la cédula del representante",
          minlength:"Su cédula debe tener solo 10 dígitos",
          maxlength:"Su cédula debe tener solo 10 dígitos"
        },
        "apellidoRepresentante":{
          required:"Debe ingresar el apellido del representante"
        },
        "telefonoRepresentante":{
          required:"Debe ingresar el número del representante",
          minlength:"Su teléfono debe tener solo 10 dígitos",
          maxlength:"Su teléfono debe tener solo 10 dígitos"
        },
        "correoRepresentante":{
          required:"Debe ingresr el correo del representante",
          email:"Por favor ingrese un correo electrónico válido"
        },
        "nacionalidadRepresentante":{
          required:"Debe ingresar la nacionalidad del representante"
        },
        "direccionRepresentante":{
          required:"Debe ingresar la dirección del representante"
        }
      }
    });
  </script>

{% endblock %}
