{% extends './plantilla.html' %}
{% block contenido %}



<!-- Sales Chart Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
      <div class="bg-light text-center rounded p-4">
          <div class="d-flex align-items-center justify-content-between mb-4">
              <h6 class="mb-0">Editar Cita Médica</h6>
          </div>
          <form action="/procesarActualizacionCita/{{ cita.idCita }}" enctype="multipart/form-data" method="post" id="frm_nuevo_historial">
            {% csrf_token %}
              <input type="hidden" name="idCita" id="idCita" value="{{cita.idCita}}">
            <div class="form-floating mb-3">
              <select  name="id_historial"  id="id_historial" class="form-control" required>
                      <option value=""> Seleccionar el Historial del paciente</option>
                      {% for historial in historiales %}
                      <option value="{{historial.id}}">Historial de {{historial.paciente.nombrePaciente}}</option>
                      {% endfor %}
              </select>
              <label for="id_historial">Historial</label>
              <div id="error-id_historial" class="error-messages"></div>
            </div>

            <div class="form-floating mb-3">
              <select  name="id_doctor"  id="id_doctor" class="form-control" required>
                      <option value=""> Seleccionar el doctor del paciente</option>
                      {% for doctor in doctores %}
                      <option value="{{doctor.id}}">{{doctor.nombreDoctor}}</option>
                      {% endfor %}
              </select>
              <label for="id_doctor">Doctor</label>
              <div id="error-id_doctor" class="error-messages"></div>
            </div>


            <div class="form-floating mb-3">
              <input type="date" class="form-control" name="fechaCreacion" id="fechaCreacion"placeholder="name@example.com" required>
              <label for="fechaCreacion">Fecha de Modificación</label>
              <div id="error-fechaCreacion" class="error-messages"></div>
            </div>
            <script>
              var fechaActual = new Date();
              var inputFecha = document.getElementById('fechaCreacion');

              inputFecha.onchange = function() {
                var fechaSeleccionada = new Date(this.value);
                if (fechaSeleccionada > fechaActual) {
                  inputFecha.value = fechaActual.toISOString().slice(0, 10);
                }
              };
            </script>

            <br>
            <button type="submit" name="button" class="btn btn-outline-info rounded-pill m-2">Guardar</button>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/listadoCitas/" class="btn btn-outline-danger rounded-pill m-2">Cancelar</a>
          </form>
      </div>

    </div>
</div>
<!-- Sales Chart End -->


  <script type="text/javascript">
    $("#frm_nuevo_historial").validate({
      errorPlacement: function(error, element) {
        var errorContainerId = 'error-' + element.attr('name');
        error.appendTo('#' + errorContainerId);
      },
      rules:{
        "id_doctor":{
          required:true
        },
        "id_historial":{
          required:true,
        },
        "fechaCreacion":{
          required:true
        }
      },
      messages:{
        "id_doctor":{
          required:"Ingrese el doctor"
        },
        "id_historial":{
          required:"Ingrese el historial del paciente",
        },
        "fechaCreacion":{
          required:"Ingrese la fecha de creación"
        }
      }
    });
  </script>


{% endblock %}
