{% extends './plantilla.html' %}
{% block contenido %}

<!-- Sales Chart Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="bg-light text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">Editar Medicamento</h6>
            </div>
            <form class="" action="/procesarActualizacionMedicamento/{{medicamento.id}}/" method="post" id="frm_editar_medicamento">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{medicamento.id}}">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="nombreMedicamento" id="nombreMedicamento" placeholder="Nombre del Medicamento" value="{{medicamento.nombreMedicamento}}" required>
                    <label for="nombreMedicamento">Nombre del Medicamento</label>
                    <div id="error-nombreMedicamento" class="error-messages"></div>
                </div>
                <script>
                          document.getElementById('nombreMedicamento').onkeypress = function(e) {
                            var charCode = (typeof e.which == "number") ? e.which : e.keyCode;
                            var charTyped = String.fromCharCode(charCode);
                            var regex = /^[A-Za-záéíóúÁÉÍÓÚ\s]+$/;
                            if (!regex.test(charTyped) && charCode !== 8 && charCode !== 0) {
                              e.preventDefault();
                            }
                          };
                        </script>
<br>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="dosisMedicamento" id="dosisMedicamento" placeholder="Dosis del Medicamento" value="{{medicamento.dosisMedicamento}}" required>
                    <label for="dosisMedicamento">Dosis del Medicamento</label>
                    <div id="error-dosisMedicamento" class="error-messages"></div>
                </div>
<br>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="tipoMedicamento" id="tipoMedicamento" placeholder="Tipo de Medicamento" value="{{medicamento.tipoMedicamento}}" required>
                    <label for="tipoMedicamento">Tipo de Medicamento</label>
                    <div id="error-tipoMedicamento" class="error-messages"></div>
                </div>
                <script>
                          document.getElementById('tipoMedicamento').onkeypress = function(e) {
                            var charCode = (typeof e.which == "number") ? e.which : e.keyCode;
                            var charTyped = String.fromCharCode(charCode);
                            var regex = /^[A-Za-záéíóúÁÉÍÓÚ\s]+$/;
                            if (!regex.test(charTyped) && charCode !== 8 && charCode !== 0) {
                              e.preventDefault();
                            }
                          };
                        </script>
<br>
                <div class="form-floating mb-3">
                    <textarea class="form-control" name="precaucionesMedicamento" placeholder="Precauciones" id="precaucionesMedicamento" style="height: 150px;" required>{{medicamento.precaucionesMedicamento}}</textarea>
                    <label for="precaucionesMedicamento">Precauciones</label>
                    <div id="error-precaucionesMedicamento" class="error-messages"></div>
                </div>
                <br>
                <button type="submit" name="button" class="btn btn-outline-info rounded-pill m-2">Guardar</button>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/listadoMedicamento/" class="btn btn-outline-danger rounded-pill m-2">Cancelar</a>
            </form>
        </div>
    </div>
</div>
<!-- Sales Chart End -->

<script type="text/javascript">
    $("#frm_editar_medicamento").validate({
        errorPlacement: function (error, element) {
            var errorContainerId = 'error-' + element.attr('name');
            error.appendTo('#' + errorContainerId);
        },
        rules: {
            "nombreMedicamento": {
                required: true
            },
            "dosisMedicamento": {
                required: true
            },
            "tipoMedicamento": {
                required: true
            },
            "precaucionesMedicamento": {
                required: true
            }
        },
        messages: {
            "nombreMedicamento": {
                required: "Debe ingresar el nombre del medicamento"
            },
            "dosisMedicamento": {
                required: "Debe ingresar la dosis del medicamento"
            },
            "tipoMedicamento": {
                required: "Debe ingresar el tipo del medicamento"
            },
            "precaucionesMedicamento": {
                required: "Debe ingresar las precauciones del medicamento"
            }
        }
    });
</script>

{% endblock %}
