{% extends './plantilla.html' %}
{% block contenido %}

<!-- Detalles Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Editar Detalle</h6>
        </div>

        <form class="" action="/procesarActualizacionDetalle/{{detalle.idDetalle}}/" enctype="multipart/form-data" method="post" id="frm_editar_detalle">

            {% csrf_token %}
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="cantidad" id="cantidad" placeholder="Cantidad" value="{{ detalle.cantidad }}" required>
                <label for="cantidad">Cantidad</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="frecuencia" id="frecuencia" placeholder="Frecuencia" value="{{ detalle.frecuencia }}" required>
                <label for="frecuencia">Frecuencia</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="duracion" id="duracion" placeholder="Duración" value="{{ detalle.duracion }}" required>
                <label for="duracion">Duración</label>
            </div>

            <div class="form-floating mb-3">
                <select class="form-select" name="id_medicamento" id="medicamento" required>
                    <option value="" disabled selected>Seleccione un medicamento</option>
                    {% for medicamento in medicamentos %}
                    <option value="{{ medicamento.id }}" {% if detalle.medicamento.id == medicamento.id %} selected {% endif %}>{{ medicamento.nombreMedicamento }}</option>
                    {% endfor %}
                </select>
                <label for="medicamento">Medicamento</label>
            </div>

            <div class="form-floating mb-3">
                <select class="form-select" name="id_receta" id="receta" required>
                    <option value="" disabled selected>Seleccione una receta</option>
                    {% for receta in recetas %}
                    <option value="{{ receta.idReceta }}" {% if detalle.receta.idReceta == receta.idReceta %} selected {% endif %}>{{ receta.fechaCreacion }}</option>
                    {% endfor %}
                </select>
                <label for="receta">Receta</label>
            </div>

            <button type="submit" class="btn btn-outline-info rounded-pill m-2">Guardar</button>
            <a href="/listadoDetalles/" class="btn btn-outline-danger rounded-pill m-2">Cancelar</a>
        </form>
    </div>
</div>

<script type="text/javascript">
    $("#frm_editar_detalle").validate({
        errorPlacement: function(error, element) {
            var errorContainerId = 'error-' + element.attr('name');
            error.appendTo('#' + errorContainerId);
        },
        rules:{
            "cantidad":{
                required:true
            },
            "frecuencia":{
                required:true,
            },
            "duracion":{
                required:true
            },
            "id_medicamento":{
                required:true
            },
            "id_receta":{
                required:true
            }
        },
        messages:{
            "cantidad":{
                required:"Ingrese la cantidad"
            },
            "frecuencia":{
                required:"Ingrese la frecuencia",
            },
            "duracion":{
                required:"Ingrese la duración"
            },
            "id_medicamento":{
                required:"Seleccione un medicamento"
            },
            "id_receta":{
                required:"Seleccione una receta"
            }
        }
    });
</script>

{% endblock %}
