{% extends './plantilla.html' %}
{% block contenido %}



<!-- Sales Chart Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
      <div class="bg-light text-center rounded p-4">
          <div class="d-flex align-items-center justify-content-between mb-4">
              <h6 class="mb-0">Editar Receta</h6>
          </div>
          <form class="" action="/procesarActualizacionReceta/{{receta.idReceta}}" enctype="multipart/form-data" method="post" id="frm_nuevo_historial">
            {% csrf_token %}
            <input type="hidden" name="idReceta" value="{{receta.idReceta}}">
            <div class="form-floating mb-3">
              <input type="date" class="form-control" name="fechaCreacion" id="fechaCreacion"placeholder="name@example.com" required>
              <label for="fechaCreacion">Fecha de Modificación</label>
              <div id="error-fechaCreacion" class="error-messages"></div>
            </div>
            <script>
              var fechaActual = new Date();
              var inputFecha = document.getElementById('fechaCreacion');

              inputFecha.onchange = function() {
                var fechaSeleccionada = new Date(this.value);
                if (fechaSeleccionada > fechaActual) {
                  inputFecha.value = fechaActual.toISOString().slice(0, 10);
                }
              };
            </script>


            <div class="form-floating mb-3">
              <input type="number" value="{{receta.peso}}" class="form-control" name="peso" id="peso"placeholder="name@example.com" required>
              <label for="peso">Peso del paciente (Klg)</label>
              <div id="error-peso" class="error-messages"></div>
            </div>

            <div class="form-floating mb-3">
              <input type="number" value="{{receta.altura}}"class="form-control" name="altura" id="altura"placeholder="name@example.com" required>
              <label for="altura">Altura del paciente (m)</label>
              <div id="error-altura" class="error-messages"></div>
            </div>

            <div class="form-floating mb-3">
              <select  name="id_cita"  id="id_cita" class="form-control" required>
                      <option value=""> Seleccionar la receta del paciente</option>
                      {% for cita in citas %}
                      <option value="{{cita.idCita}}">De {{cita.doctor.nombreDoctor}} el {{cita.fechaCreacion}}</option>
                      {% endfor %}
              </select>
              <label for="id_historial">Historial</label>
              <div id="error-id_cita" class="error-messages"></div>
            </div>

            <br>
            <button type="submit" name="button" class="btn btn-outline-info rounded-pill m-2">Guardar</button>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="/listadoRecetas" class="btn btn-outline-danger rounded-pill m-2">Cancelar</a>
          </form>
      </div>

    </div>
</div>
<!-- Sales Chart End -->



<script type="text/javascript">
  $("#frm_nuevo_historial").validate({
    errorPlacement: function(error, element) {
      var errorContainerId = 'error-' + element.attr('name');
      error.appendTo('#' + errorContainerId);
    },
    rules:{
      "peso":{
        required:true
      },
      "altura":{
        required:true,
      },
      "id_cita":{
        required:true
      },
      "fechaCreacion":{
        required:true,
      }
    },
    messages:{
      "peso":{
        required:"Debe ingresar el peso"
      },
      "altura":{
        required:"Debe ingresar la altura",
      },
      "id_cita":{
        required:"Debe seleccionar la cita"
      },
      "fechaCreacion":{
        required:"Debe ingresar la fecha de la receta",
      }
    }
  });
</script>


{% endblock %}
