{% extends './plantilla.html' %}
{% block contenido %}



<!-- Sales Chart Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
      <div class="bg-light text-center rounded p-4">
          <div class="d-flex align-items-center justify-content-between mb-4">
              <h6 class="mb-0">Añadir Historial</h6>
          </div>
          <form class="" action="/guardarHistorial/" enctype="multipart/form-data" method="post" id="frm_nuevo_historial">
            {% csrf_token %}
            <div class="form-floating mb-3">
              <select  name="id_paciente"  id="id_paciente" class="form-control" required>
                      <option value=""> Seleccionar el Paciente</option>
                      {% for paciente in pacientes %}
                      <option value="{{paciente.idPaciente}}">{{paciente.nombrePaciente}}</option>
                      {% endfor %}
              </select>
              <label for="nombreDoctor">Nombres</label>
              <div id="error-nombrePaciente" class="error-messages"></div>
            </div>


            <div class="form-floating mb-3">
              <input type="date" class="form-control" name="fechaCreacion" id="fechaNacimientoDoctor"placeholder="name@example.com" required>
              <label for="fechaCreacion">Fecha de Creación</label>
              <div id="error-fechaNacimientoDoctor" class="error-messages"></div>
            </div>
            <script>
              var fechaActual = new Date();
              var inputFecha = document.getElementById('fechaNacimientoDoctor');

              inputFecha.onchange = function() {
                var fechaSeleccionada = new Date(this.value);
                if (fechaSeleccionada > fechaActual) {
                  inputFecha.value = fechaActual.toISOString().slice(0, 10);
                }
              };
            </script>

            <br>
            <button type="submit" name="button" class="btn btn-outline-info rounded-pill m-2">Guardar</button>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="reset" name="button" class="btn btn-outline-danger rounded-pill m-2">Cancelar</button>
          </form>
      </div>

    </div>
</div>
<!-- Sales Chart End -->


<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Registro de Historiales</h6>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0" id="tbl_repr">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">ID</th>
                        <th scope="col">PACIENTE</th>
                        <th scope="col">FECHA DE CREACIÓN</th>
                        <th scope="col">ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                  {% for historial in historiales %}
                  <tr>
                    <td>{{historial.id}}</td>
                    <td><a href="/reporte/{{historial.id}}">{{historial.paciente.nombrePaciente}}</a></td>
                    <td>{{historial.fechaCreacion}}</td>
                    <td>
                      <a href="javascript:void(0)"onclick="eliminarHistorial('/eliminarHistorial/{{historial.id}}');" class="btn btn-outline-danger rounded-pill"><i class="fa fa-trash"></i></a>
                    </td>
                  </tr>
          {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
        function eliminarHistorial(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar el <b>historial </b> seleccionado?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {

                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                  }],
              ]
          });
        }


{% if messages %}
    {% for message in messages %}
        iziToast.success({
            title: 'Éxito',
            message: '{{ message }}',
            position: 'topRight',
        });
    {% endfor %}
{% endif %}
  </script>

  <script type="text/javascript">
    $("#frm_nuevo_historial").validate({
      errorPlacement: function(error, element) {
        var errorContainerId = 'error-' + element.attr('name');
        error.appendTo('#' + errorContainerId);
      },
      rules:{
        "nombreDoctor":{
          required:true
        },
        "cedulaDoctor":{
          required:true,
          minlength:10,
          maxlength:10
        },
        "apellidoDoctor":{
          required:true
        },
        "telefonoDoctor":{
          required:true,
          minlength:10,
          maxlength:10
        },
        "correoDoctor":{
          required:true,
          email:true
        },
        "fechaNacimientoDoctor":{
          required:true
        },
        "direccionDoctor":{
          required:true
        },
        "fotoDoctor":{
          required:true
        },
        "especialidadDoctor":{
          required:true
        }
      },
      messages:{
        "nombreDoctor":{
          required:"Debe ingresar el nombre del doctor"
        },
        "cedulaDoctor":{
          required:"Debe ingresar la cédula del doctor",
          minlength:"Su cédula debe tener solo 10 dígitos",
          maxlength:"Su cédula debe tener solo 10 dígitos"
        },
        "apellidoDoctor":{
          required:"Debe ingresar el apellido del dcotor"
        },
        "telefonoDoctor":{
          required:"Debe ingresar el número del doctor",
          minlength:"Su teléfono debe tener solo 10 dígitos",
          maxlength:"Su teléfono debe tener solo 10 dígitos"
        },
        "correoDoctor":{
          required:"Debe ingresr el correo del doctor",
          email:"Por favor ingrese un correo electrónico válido"
        },
        "fechaNacimientoDoctor":{
          required:"Debe ingresar la fecha de nacimiento del doctor"
        },
        "direccionDoctor":{
          required:"Debe ingresar la dirección del doctor"
        },
        "fotoDoctor":{
          required:"Debe seleccionar la foto del doctor"
        },
        "especialidadDoctor":{
          required:"Debe ingresar la especialidad del doctor"
        }
      }
    });
  </script>

  <script type="text/javascript">
          $(document).ready(function() {
              $('#tbl_repr').DataTable( {
                  dom: 'Bfrtip',
                  buttons: [
                      {
                          extend: 'pdfHtml5',
                          text: '<i class="fa-solid fa-file-pdf"></i> PDF',
                          className: 'btn btn-outline-primary',
                          messageTop: 'Doctores de MediKid ',
                          title:'INFORMACIÓN MEDIKID'
                      },
                      {
                          extend: 'print',
                          text: '<i class="fa-solid fa-print"></i> Imprimir',
                          className: 'btn btn-outline-primary',
                          messageTop: 'Doctores de MediKid ',
                          title:'INFORMACIÓN MEDIKID'
                      },
                      {
                          extend: 'csv',
                          text: '<i class="fa-solid fa-file-csv"></i> CSV',
                          className: 'btn btn-outline-primary',
                          messageTop: 'Doctores de MediKid ',
                          title:'INFORMACIÓN MEDIKID'
                      }
                  ],
                  language: {
                      url: "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
                  },
                  initComplete: function () {
                    $('.dataTables_filter input[type="search"]').addClass('form-control');
                  }
              } );
          } );
      </script>
{% endblock %}
