{% extends './plantilla.html'%}
{% block contenido %}

<!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-line fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Today Sale</p>
                                <h6 class="mb-0">$1234</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-bar fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Sale</p>
                                <h6 class="mb-0">$1234</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-area fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Today Revenue</p>
                                <h6 class="mb-0">$1234</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-pie fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Revenue</p>
                                <h6 class="mb-0">$1234</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sale & Revenue End -->


            <!-- Sales Chart Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light text-right rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Paciente</h6>
                                <a href="/editarPaciente/{{ paciente.idPaciente }}" class="btn btn-outline-primary">Editar</a>
                            </div>
                                <b>Nombre:</b> {{ paciente.nombrePaciente }} <br>
                                <b>Apellido:</b> {{ paciente.apellidoPaciente }} <br>
                                <b>Cédula: </b> {{ paciente.cedulaPaciente }} <br>
                                <b>Fecha de Nacimiento: </b> {{ paciente.fechaNacimientoPaciente }} <br>
                                <b>Nacionalidad: </b> {{ paciente.nacionalidadPaciente }} <br>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light text-right rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Representante</h6>
                                <a class="btn btn-outline-primary" href="/editarRepresentante/{{ paciente.representante.id }}">Editar</a>
                            </div>
                            <b>Nombre:</b> {{ paciente.representante.nombreRepresentante }} <br>
                            <b>Apellido:</b> {{ paciente.representante.apellidoRepresentante }} <br>
                            <b>Cédula:</b> {{ paciente.representante.cedulaRepresentante }} <br>
                            <b>Celular:</b> {{ paciente.representante.telefonoRepresentante }} <br>
                            <b>Correo:</b> {{ paciente.representante.correoRepresentante }} <br>
                            <b>Nacionalidad:</b> {{ paciente.representante.nacionalidadRepresentante }} <br>
                            <b>Dirección:</b> {{ paciente.representante.direccionRepresentante }} <br>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sales Chart End -->


            <!-- Recent Sales Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Citas del Paciente</h6>
                    </div>
                    <div class="table-responsive">
                      <table class="table text-start align-middle table-bordered table-hover mb-0" id="tbl_repr">
                          <thead>
                              <tr class="text-dark">
                                  <th scope="col">#</th>
                                  <th scope="col">MEDICAMENTO</th>
                                  <th scope="col">CANTIDAD</th>
                                  <th scope="col">FRECUENCIA</th>
                                  <th scope="col">DURACIÓN</th>
                              </tr>
                          </thead>
                          <tbody>
                            {% for detalle in detalles %}
                            <tr>
                              <td>{{ detalle.receta.idReceta }}</td>
                              <td>{{ detalle.medicamento.nombreMedicamento }}</td>
                              <td>{{ detalle.cantidad }}</td>
                              <td>{{ detalle.frecuencia }}</td>
                              <td>{{ detalle.duracion }}</td>
                              <td>
                                <a href="/editarDetalle/{{ detalle.idDetalle }}" class="btn btn-outline-success rounded-pill"><i class="fas fa-edit"></i></a><br><br>
                                <a href="javascript:void(0)" onclick="eliminarDetalle('/eliminarDetalle/{{ detalle.idDetalle }}');" class="btn btn-outline-danger rounded-pill"><i class="fa fa-trash"></i></a>
                              </td>
                            </tr>
                            {% endfor %}
                          </tbody>

                      </table>
                    </div>
                </div>
            </div>
            <!-- Recent Sales End -->




{% endblock %}
