{% extends './plantilla.html' %}
{% block contenido %}



<!-- Sales Chart Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
      <div class="bg-light text-center rounded p-4">
          <div class="d-flex align-items-center justify-content-between mb-4">
              <h6 class="mb-0">Añadir Representante</h6>
          </div>
          <form class="" action="/guardarRepresentante/" method="post" id="frm_nuevo_representante">
            {% csrf_token %}
            <div class="form-floating mb-3">
              <input type="text" class="form-control" name="nombreRepresentante" id="nombreRepresentante"placeholder="name@example.com" required>
              <label for="nombreRepresentante">Nombres</label>
              <div id="error-nombreRepresentante" class="error-messages"></div>
            </div>
            <script>
                      document.getElementById('nombreRepresentante').onkeypress = function(e) {
                        var charCode = (typeof e.which == "number") ? e.which : e.keyCode;
                        var charTyped = String.fromCharCode(charCode);
                        var regex = /^[A-Za-záéíóúÁÉÍÓÚ\s]+$/;
                        if (!regex.test(charTyped) && charCode !== 8 && charCode !== 0) {
                          e.preventDefault();
                        }
                      };
                    </script>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" name="apellidoRepresentante" id="apellidoRepresentante"placeholder="name@example.com" required>
              <label for="apellidoRepresentante">Apellidos</label>
              <div id="error-apellidoRepresentante" class="error-messages"></div>
            </div>
            <script>
                      document.getElementById('apellidoRepresentante').onkeypress = function(e) {
                        var charCode = (typeof e.which == "number") ? e.which : e.keyCode;
                        var charTyped = String.fromCharCode(charCode);
                        var regex = /^[A-Za-záéíóúÁÉÍÓÚ\s]+$/;
                        if (!regex.test(charTyped) && charCode !== 8 && charCode !== 0) {
                          e.preventDefault();
                        }
                      };
                    </script>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" name="cedulaRepresentante" id="cedulaRepresentante"placeholder="name@example.com" required>
              <label for="cedulaRepresentante">Cédula</label>
              <div id="error-cedulaRepresentante" class="error-messages"></div>
            </div>
            <script>
                      document.getElementById('cedulaRepresentante').oninput = function(e) {
                        var inputValue = this.value;

                        this.value = inputValue.replace(/[^\d]/g, '');

                      };
                    </script>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" name="telefonoRepresentante" id="telefonoRepresentante"placeholder="name@example.com" required>
              <label for="telefonoRepresentante">Teléfono</label>
              <div id="error-telefonoRepresentante" class="error-messages"></div>
            </div>
            <script>
                      document.getElementById('telefonoRepresentante').oninput = function(e) {
                        var inputValue = this.value;

                        this.value = inputValue.replace(/[^\d]/g, '');
                      };
                    </script>

            <div class="form-floating mb-3">
              <input type="email" class="form-control" name="correoRepresentante" id="correoRepresentante"placeholder="name@example.com" required>
              <label for="correoRepresentante">Correo</label>
              <div id="error-correoRepresentante" class="error-messages"></div>
            </div>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" name="nacionalidadRepresentante" id="nacionalidadRepresentante"placeholder="name@example.com" required>
              <label for="nacionalidadRepresentante">Nacionalidad</label>
              <div id="error-nacionalidadRepresentante" class="error-messages"></div>
            </div>
            <script>
                      document.getElementById('nacionalidadRepresentante').onkeypress = function(e) {
                        var charCode = (typeof e.which == "number") ? e.which : e.keyCode;
                        var charTyped = String.fromCharCode(charCode);
                        var regex = /^[A-Za-záéíóúÁÉÍÓÚ\s]+$/;
                        if (!regex.test(charTyped) && charCode !== 8 && charCode !== 0) {
                          e.preventDefault();
                        }
                      };
                    </script>

            <div class="form-floating">
              <textarea class="form-control" name="direccionRepresentante" placeholder="Leave a comment here" id="direccionRepresentante" style="height: 150px;" required></textarea>
              <label for="direccionRepresentante">Dirección</label>
              <div id="error-direccionRepresentante" class="error-messages"></div>
            </div>
            <br>
            <button type="submit" name="button" class="btn btn-outline-info rounded-pill m-2">Guardar</button>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="reset" name="button" class="btn btn-outline-danger rounded-pill m-2">Cancelar</button>
          </form>
      </div>

    </div>
</div>
<!-- Sales Chart End -->


<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Registro de Representantes</h6>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0" id="tbl_repr">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">ID</th>
                        <th scope="col">NOMBRES</th>
                        <th scope="col">APELLIDOS</th>
                        <th scope="col">CEDULA</th>
                        <th scope="col">TELÉFONO</th>
                        <th scope="col">CORREO</th>
                        <th scope="col">NACIONALIDAD</th>
                        <th scope="col">DIRECCIÓN</th>
                        <th scope="col">ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                  {% for representante in representantes %}
                  <tr>
                    <td>{{representante.id}}</td>
                    <td>{{representante.nombreRepresentante}}</td>
                    <td>{{representante.apellidoRepresentante}}</td>
                    <td>{{representante.cedulaRepresentante}}</td>
                    <td>{{representante.telefonoRepresentante}}</td>
                    <td>{{representante.correoRepresentante}}</td>
                    <td>{{representante.nacionalidadRepresentante}}</td>
                    <td>{{representante.direccionRepresentante}}</td>
                    <td>
                      <a href="/editarRepresentante/{{representante.id}}" class="btn btn-outline-success rounded-pill"><i class="fas fa-edit"></i></a><br><br>
                      <a href="javascript:void(0)"onclick="eliminarRepresentante('/eliminarRepresentante/{{representante.id}}');" class="btn btn-outline-danger rounded-pill"><i class="fa fa-trash"></i></a>
                    </td>
                  </tr>
          {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
        function eliminarRepresentante(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar el <b>representante </b> seleccionado?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {

                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                  }],
              ]
          });
        }


{% if messages %}
    {% for message in messages %}
        iziToast.success({
            title: 'Éxito',
            message: '{{ message }}',
            position: 'topRight',
        });
    {% endfor %}
{% endif %}
  </script>

  <script type="text/javascript">
    $("#frm_nuevo_representante").validate({
      errorPlacement: function(error, element) {
        var errorContainerId = 'error-' + element.attr('name');
        error.appendTo('#' + errorContainerId);
      },
      rules:{
        "nombreRepresentante":{
          required:true
        },
        "cedulaRepresentante":{
          required:true,
          minlength:10,
          maxlength:10
        },
        "apellidoRepresentante":{
          required:true
        },
        "telefonoRepresentante":{
          required:true,
          minlength:10,
          maxlength:10
        },
        "correoRepresentante":{
          required:true,
          email:true
        },
        "nacionalidadRepresentante":{
          required:true
        },
        "direccionRepresentante":{
          required:true
        }
      },
      messages:{
        "nombreRepresentante":{
          required:"Debe ingresar el nombre del representante"
        },
        "cedulaRepresentante":{
          required:"Debe ingresar la cédula del representante",
          minlength:"Su cédula debe tener solo 10 dígitos",
          maxlength:"Su cédula debe tener solo 10 dígitos"
        },
        "apellidoRepresentante":{
          required:"Debe ingresar el apellido del representante"
        },
        "telefonoRepresentante":{
          required:"Debe ingresar el número del representante",
          minlength:"Su teléfono debe tener solo 10 dígitos",
          maxlength:"Su teléfono debe tener solo 10 dígitos"
        },
        "correoRepresentante":{
          required:"Debe ingresr el correo del representante",
          email:"Por favor ingrese un correo electrónico válido"
        },
        "nacionalidadRepresentante":{
          required:"Debe ingresar la nacionalidad del representante"
        },
        "direccionRepresentante":{
          required:"Debe ingresar la dirección del representante"
        }
      }
    });
  </script>

  <script type="text/javascript">
          $(document).ready(function() {
              $('#tbl_repr').DataTable( {
                  dom: 'Bfrtip',
                  buttons: [
                      {
                          extend: 'pdfHtml5',
                          text: '<i class="fa-solid fa-file-pdf"></i> PDF',
                          className: 'btn btn-outline-primary',
                          messageTop: 'Representantes de MediKid ',
                          title:'INFORMACIÓN MEDIKID'
                      },
                      {
                          extend: 'print',
                          text: '<i class="fa-solid fa-print"></i> Imprimir',
                          className: 'btn btn-outline-primary',
                          messageTop: 'Representantes de MediKid ',
                          title:'INFORMACIÓN MEDIKID'
                      },
                      {
                          extend: 'csv',
                          text: '<i class="fa-solid fa-file-csv"></i> CSV',
                          className: 'btn btn-outline-primary',
                          messageTop: 'Representantes de MediKid ',
                          title:'INFORMACIÓN MEDIKID'
                      }
                  ],
                  language: {
                      url: "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
                  },
                  initComplete: function () {
                    $('.dataTables_filter input[type="search"]').addClass('form-control');
                  }
              } );
          } );
      </script>
{% endblock %}
