<h1>hola</h1>{% extends './plantilla.html' %}
{% block contenido %}

<!-- Detalles Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Añadir Detalle</h6>
        </div>
        <form class="" action="/guardarDetalle/" enctype="multipart/form-data" method="post" id="frm_nuevo_detalle">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="cantidad" id="cantidad" placeholder="Cantidad" required>
                <label for="cantidad">Cantidad</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="frecuencia" id="frecuencia" placeholder="Frecuencia" required>
                <label for="frecuencia">Frecuencia</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="duracion" id="duracion" placeholder="Duración" required>
                <label for="duracion">Duración</label>
            </div>

            <div class="form-floating mb-3">
                <select class="form-select" name="id_medicamento" id="medicamento" required>
                    <option value="" disabled selected>Seleccione un medicamento</option>
                    {% for medicamento in medicamentos %}
                    <option value="{{ medicamento.id }}">{{ medicamento.nombreMedicamento }}</option>
                    {% endfor %}
                </select>
                <label for="medicamento">Medicamento</label>
            </div>

            <div class="form-floating mb-3">
                <select class="form-select" name="id_receta" id="receta" required>
                    <option value="" disabled selected>Seleccione una receta</option>
                    {% for receta in recetas %}
                    <option value="{{ receta.idReceta }}">{{ receta.fechaCreacion }}</option>
                    {% endfor %}
                </select>
                <label for="receta">Receta</label>
            </div>

            <button type="submit" class="btn btn-outline-info rounded-pill m-2">Guardar</button>
            <button type="reset" class="btn btn-outline-danger rounded-pill m-2">Cancelar</button>
        </form>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Detalles Registrados</h6>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0" id="tbl_detalles">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">ID</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Frecuencia</th>
                        <th scope="col">Duración</th>
                        <th scope="col">Medicamento</th>
                        <th scope="col">Receta</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for detalle in detalles %}
                    <tr>
                        <td>{{ detalle.idDetalle }}</td>
                        <td>{{ detalle.cantidad }}</td>
                        <td>{{ detalle.frecuencia }}</td>
                        <td>{{ detalle.duracion }}</td>
                        <td>{{ detalle.medicamento.nombreMedicamento }}</td>
                        <td>{{ detalle.receta.fechaCreacion }}</td>
                        <td>
                            <a href="/editarDetalle/{{detalle.idDetalle}}" class="btn btn-outline-success rounded-pill"><i class="fas fa-edit"></i></a><br><br>
                            <a href="javascript:void(0)" onclick="eliminarDetalle('/eliminarDetalle/{{detalle.idDetalle}}');" class="btn btn-outline-danger rounded-pill"><i class="fa fa-trash"></i></a>
                        </td>                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>



<script type="text/javascript">
    function eliminarDetalle(url){
      iziToast.question({
          timeout: 15000,
          close: true,
          overlay: true,
          displayMode: 'once',
          id: 'question',
          zindex: 999,
          title: 'CONFIRMACIÓN',
          message: '¿Está seguro de eliminar el <b>detalle</b> seleccionado?',
          position: 'center',
          buttons: [
              ['<button><b>SI</b></button>', function (instance, toast) {
                  instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                  window.location.href=url;
              }, true],
              ['<button>NO</button>', function (instance, toast) {
                  instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
              }],
          ]
      });
    }

    {% if messages %}
        {% for message in messages %}
            iziToast.success({
                title: 'Éxito',
                message: '{{ message }}',
                position: 'topRight',
            });
        {% endfor %}
    {% endif %}
</script>

<script type="text/javascript">
    $("#frm_nuevo_detalle").validate({
        errorPlacement: function(error, element) {
            var errorContainerId = 'error-' + element.attr('name');
            error.appendTo('#' + errorContainerId);
        },
        rules:{
            "cantidad":{
                required:true
            },
            "frecuencia":{
                required:true,
            },
            "duracion":{
                required:true
            },
            "medicamento":{
                required:true
            },
            "receta":{
                required:true
            }
        },
        messages:{
            "cantidad":{
                required:"Ingrese la cantidad"
            },
            "frecuencia":{
                required:"Ingrese la frecuencia",
            },
            "duracion":{
                required:"Ingrese la duración"
            },
            "medicamento":{
                required:"Seleccione un medicamento"
            },
            "receta":{
                required:"Seleccione una receta"
            }
        }
    });
</script>


{% endblock %}

