{% extends 'plantilla.html' %}

{% block contenido %}

<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Añadir Paciente</h6>
        </div>
    <form action="{% url 'guardarPaciente' %}" method="post" id="guardarPacienteForm">
      {% csrf_token %}

 
      <div class="form-floating mb-3">
        <input type="text" class="form-control"  name="nombrePaciente" id="nombrePaciente" class="form-control" placeholder="Ingrese el nombre del paciente" required>
        <label for="nombrePaciente">Nombre del paciente</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" name="apellidoPaciente" id="apellidoPaciente" class="form-control" placeholder="Ingrese el apellido del paciente" required>
        <label for="apellidoPaciente">Apellido del paciente</label>
      </div>


      <div class="form-floating mb-3">
        <input type="text" class="form-control" name="cedulaPaciente" id="cedulaPaciente" class="form-control" placeholder="Ingrese la cédula del paciente" required>
        <label for="cedulaPaciente">Cédula del paciente</label>
      </div>


      <div class="form-floating mb-3">
        <input type="date" class="form-control" name="fechaNacimientoPaciente" id="fechaNacimientoPaciente" class="form-control" placeholder="Ingrese la fecha de nacimiento del paciente" required>
        <label for="fechaNacimientoPaciente">Fecha de Nacimiento</label>
        <div id="error-fechaNacimientoPaciente" class="error-messages"></div>
      </div>

     
      <div class="form-floating mb-3">
        <input type="text" class="form-control" name="nacionalidadPaciente" id="nacionalidadPaciente" class="form-control" placeholder="Ingrese la nacionalidad del paciente" required>
        <label for="nacionalidadPaciente">Nacionalidad del paciente</label>
      </div>

   
      <div class="form-floating mb-3">
          <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0" onclick="mostrarListaRepresentantes()">Representante del paciente</h6>

        <select name="representante_id" id="representante_id" class="form-control" required>
            {% for representante in representantes %}
            <option value="{{ representante.id }}">{{ representante.nombreRepresentante }} {{ representante.apellidoRepresentante }}</option>
            {% endfor %}
        </select>
      </div>


      <div class="text-center">
        <button type="submit" name="button" class="btn btn-outline-info rounded-pill m-2">Guardar</button>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="reset" name="button" class="btn btn-outline-danger rounded-pill m-2">Cancelar</button>
    </div>
    </form>
  </div>

  <div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Registro de Pacientes</h6>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0" id="pacientesTable">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Cédula</th>
                        <th scope="col">Fecha de Nacimiento</th>
                        <th scope="col">Nacionalidad</th>
                        <th scope="col">Representante</th>
                        <th scope="col">ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Itera sobre los pacientes y muestra sus detalles en la tabla -->
                    {% for paciente in pacientes %}
                    <tr>
                        <td>{{ paciente.idPaciente }}</td>
                        <td>{{ paciente.nombrePaciente }}</td>
                        <td>{{ paciente.apellidoPaciente }}</td>
                        <td>{{ paciente.cedulaPaciente }}</td>
                        <td>{{ paciente.fechaNacimientoPaciente }}</td>
                        <td>{{ paciente.nacionalidadPaciente }}</td>
                        <td>{{ paciente.representante.nombreRepresentante }} {{ paciente.representante.apellidoRepresentante }}</td>
                        <td>
                            <a href="/editarPaciente/{{ paciente.idPaciente }}" class="btn btn-outline-success rounded-pill"><i class="fas fa-edit"></i></a><br><br>
                            <a href="javascript:void(0)" onclick="eliminarPaciente('/eliminarPaciente/{{ paciente.idPaciente }}/');" class="btn btn-outline-danger rounded-pill"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<form id="eliminarPacienteForm" method="post">
  {% csrf_token %}
</form>

<script type="text/javascript">
  function eliminarPaciente(url) {
      iziToast.question({
          timeout: 15000,
          close: true,
          overlay: true,
          displayMode: 'once',
          id: 'question',
          zindex: 999,
          title: 'CONFIRMACIÓN',
          message: '¿Está seguro de eliminar el <b>paciente</b> seleccionado?',
          position: 'center',
          buttons: [
              ['<button><b>SI</b></button>', function (instance, toast) {
                  instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                  document.getElementById('eliminarPacienteForm').action = url;
                  document.getElementById('eliminarPacienteForm').submit();
              }, true],
              ['<button>NO</button>', function (instance, toast) {
                  instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
              }],
          ]
      });
  }

  {% if messages %}
      {% for message in messages %}
          iziToast.success({
              title: 'Éxito',
              message: '{{ message }}',
              position: 'topRight',
          });
      {% endfor %}
  {% endif %}
</script>



<script type="text/javascript">
  $("#guardarPacienteForm").validate({
    errorPlacement: function(error, element) {
      var errorContainerId = 'error-' + element.attr('name');
      error.appendTo('#' + errorContainerId);
    },
    rules:{
      "nombrePaciente":{
        required:true
      },
      "apellidoPaciente":{
        required:true
      },
      "cedulaPaciente":{
        required:true
      },
      "fechaNacimientoPaciente":{
        required:true
      },
      "nacionalidadPaciente":{
        required:true
      },
      "representante_id":{
        required:true
      }
    },
    messages:{
      "nombrePaciente":{
        required:"Debe ingresar el nombre del paciente"
      },
      "apellidoPaciente":{
        required:"Debe ingresar el apellido del paciente"
      },
      "cedulaPaciente":{
        required:"Debe ingresar la cédula del paciente"
      },
      "fechaNacimientoPaciente":{
        required:"Debe ingresar la fecha de nacimiento del paciente"
      },
      "nacionalidadPaciente":{
        required:"Debe ingresar la nacionalidad del paciente"
      },
      "representante_id":{
        required:"Debe seleccionar un representante para el paciente"
      }
    }
  });


</script>


<script type="text/javascript">
  $(document).ready(function() {
      $('#pacientesTable').DataTable( {
          dom: 'Bfrtip',
          buttons: [
              {
                  extend: 'pdfHtml5',
                  text: '<i class="fa-solid fa-file-pdf"></i> PDF',
                  className: 'btn btn-outline-primary',
                  messageTop: 'Pacientes de MediKid ',
                  title:'INFORMACIÓN MEDIKID'
              },
              {
                  extend: 'print',
                  text: '<i class="fa-solid fa-print"></i> Imprimir',
                  className: 'btn btn-outline-primary',
                  messageTop: 'Pacientes de MediKid ',
                  title:'INFORMACIÓN MEDIKID'
              },
              {
                  extend: 'csv',
                  text: '<i class="fa-solid fa-file-csv"></i> CSV',
                  className: 'btn btn-outline-primary',
                  messageTop: 'Pacientes de MediKid ',
                  title:'INFORMACIÓN MEDIKID'
              }
          ],
          language: {
              url: "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
          },
          initComplete: function () {
              $('.dataTables_filter input[type="search"]').addClass('form-control');
          }
      });
  });
</script>


{% endblock %}
