{% extends './plantilla.html' %}
{% block contenido %}



<!-- Sales Chart Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
      <div class="bg-light text-center rounded p-4">
          <div class="d-flex align-items-center justify-content-between mb-4">
              <h6 class="mb-0">Añadir Cita Médica</h6>
          </div>
          <form class="" action="/guardarCita/" enctype="multipart/form-data" method="post" id="frm_nuevo_historial">
            {% csrf_token %}
            <div class="form-floating mb-3">
              <select  name="id_historial"  id="id_historial" class="form-control" required>
                      <option value=""> Seleccionar el Historial del paciente</option>
                      {% for historial in historiales %}
                      <option value="{{historial.id}}">Historial de {{historial.paciente.nombrePaciente}}</option>
                      {% endfor %}
              </select>
              <label for="id_historial">Historial</label>
              <div id="error-id_historial" class="error-messages"></div>
            </div>

            <div class="form-floating mb-3">
              <select  name="id_doctor"  id="id_doctor" class="form-control" required>
                      <option value=""> Seleccionar el doctor del paciente</option>
                      {% for doctor in doctores %}
                      <option value="{{doctor.id}}">{{doctor.nombreDoctor}}</option>
                      {% endfor %}
              </select>
              <label for="id_doctor">Doctor</label>
              <div id="error-id_doctor" class="error-messages"></div>
            </div>


            <div class="form-floating mb-3">
              <input type="date" class="form-control" name="fechaCreacion" id="fechaCreacion"placeholder="name@example.com" required>
              <label for="fechaCreacion">Fecha de Cita</label>
              <div id="error-fechaCreacion" class="error-messages"></div>
            </div>
            <script>
              var fechaActual = new Date();
              var inputFecha = document.getElementById('fechaCreacion');

              inputFecha.onchange = function() {
                var fechaSeleccionada = new Date(this.value);
                if (fechaSeleccionada > fechaActual) {
                  inputFecha.value = fechaActual.toISOString().slice(0, 10);
                }
              };
            </script>

            <br>
            <button type="submit" name="button" class="btn btn-outline-info rounded-pill m-2">Guardar</button>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="reset" name="button" class="btn btn-outline-danger rounded-pill m-2">Cancelar</button>
          </form>
      </div>

    </div>
</div>
<!-- Sales Chart End -->


<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Registro de Citas</h6>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0" id="tbl_repr">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">ID</th>
                        <th scope="col">FECHA DE CREACIÓN</th>
                        <th scope="col">HISTORIAL DE:</th>
                        <th scope="col">DOCTOR</th>
                        <th scope="col">ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                  {% for cita in citas %}
                  <tr>
                    <td>{{cita.idCita}}</td>
                    <td>{{cita.fechaCreacion}}</td>
                    <td>{{ cita.historial.paciente.nombrePaciente }}</td>
                    <td>{{cita.doctor.nombreDoctor}}</td>
                    <td>
                      <a href="/editarCita/{{cita.idCita}}" class="btn btn-outline-success rounded-pill"><i class="fas fa-edit"></i></a><br><br>
                      <a href="javascript:void(0)"onclick="eliminarCita('/eliminarCita/{{cita.idCita}}');" class="btn btn-outline-danger rounded-pill"><i class="fa fa-trash"></i></a>
                    </td>
                  </tr>
          {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
        function eliminarCita(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar la <b>cita </b> seleccionada?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {

                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                  }],
              ]
          });
        }


{% if messages %}
    {% for message in messages %}
        iziToast.success({
            title: 'Éxito',
            message: '{{ message }}',
            position: 'topRight',
        });
    {% endfor %}
{% endif %}
  </script>

  <script type="text/javascript">
    $("#frm_nuevo_historial").validate({
      errorPlacement: function(error, element) {
        var errorContainerId = 'error-' + element.attr('name');
        error.appendTo('#' + errorContainerId);
      },
      rules:{
        "id_doctor":{
          required:true
        },
        "id_historial":{
          required:true,
        },
        "fechaCreacion":{
          required:true
        }
      },
      messages:{
        "id_doctor":{
          required:"Ingrese el doctor"
        },
        "id_historial":{
          required:"Ingrese el historial del paciente",
        },
        "fechaCreacion":{
          required:"Ingrese la fecha de creación"
        }
      }
    });
  </script>

  <script type="text/javascript">
          $(document).ready(function() {
              $('#tbl_repr').DataTable( {
                  dom: 'Bfrtip',
                  buttons: [
                      {
                          extend: 'pdfHtml5',
                          text: '<i class="fa-solid fa-file-pdf"></i> PDF',
                          className: 'btn btn-outline-primary',
                          messageTop: 'Doctores de MediKid ',
                          title:'INFORMACIÓN MEDIKID'
                      },
                      {
                          extend: 'print',
                          text: '<i class="fa-solid fa-print"></i> Imprimir',
                          className: 'btn btn-outline-primary',
                          messageTop: 'Doctores de MediKid ',
                          title:'INFORMACIÓN MEDIKID'
                      },
                      {
                          extend: 'csv',
                          text: '<i class="fa-solid fa-file-csv"></i> CSV',
                          className: 'btn btn-outline-primary',
                          messageTop: 'Doctores de MediKid ',
                          title:'INFORMACIÓN MEDIKID'
                      }
                  ],
                  language: {
                      url: "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
                  },
                  initComplete: function () {
                    $('.dataTables_filter input[type="search"]').addClass('form-control');
                  }
              } );
          } );
      </script>
{% endblock %}
