{% extends './plantilla.html' %}
{% block contenido %}



<!-- Sales Chart Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
      <div class="bg-light text-center rounded p-4">
          <div class="d-flex align-items-center justify-content-between mb-4">
              <h6 class="mb-0">Añadir Doctor</h6>
          </div>
          <form class="" action="/guardarDoctor/" enctype="multipart/form-data" method="post" id="frm_nuevo_doctor">
            {% csrf_token %}
            <div class="form-floating mb-3">
              <input type="text" class="form-control" name="nombreDoctor" id="nombreDoctor"placeholder="name@example.com" required>
              <label for="nombreDoctor">Nombres</label>
              <div id="error-nombreDoctor" class="error-messages"></div>
            </div>
            <script>
                      document.getElementById('nombreDoctor').onkeypress = function(e) {
                        var charCode = (typeof e.which == "number") ? e.which : e.keyCode;
                        var charTyped = String.fromCharCode(charCode);
                        var regex = /^[A-Za-záéíóúÁÉÍÓÚ\s]+$/;
                        if (!regex.test(charTyped) && charCode !== 8 && charCode !== 0) {
                          e.preventDefault();
                        }
                      };
                    </script>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" name="apellidoDoctor" id="apellidoDoctor"placeholder="name@example.com" required>
              <label for="apellidoDoctor">Apellidos</label>
              <div id="error-apellidoDoctor" class="error-messages"></div>
            </div>
            <script>
                      document.getElementById('apellidoDoctor').onkeypress = function(e) {
                        var charCode = (typeof e.which == "number") ? e.which : e.keyCode;
                        var charTyped = String.fromCharCode(charCode);
                        var regex = /^[A-Za-záéíóúÁÉÍÓÚ\s]+$/;
                        if (!regex.test(charTyped) && charCode !== 8 && charCode !== 0) {
                          e.preventDefault();
                        }
                      };
                    </script>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" name="cedulaDoctor" id="cedulaDoctor"placeholder="name@example.com" required>
              <label for="cedulaDoctor">Cédula</label>
              <div id="error-cedulaDoctor" class="error-messages"></div>
            </div>
            <script>
                      document.getElementById('cedulaDoctor').oninput = function(e) {
                        var inputValue = this.value;

                        this.value = inputValue.replace(/[^\d]/g, '');

                      };
                    </script>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" name="telefonoDoctor" id="telefonoDoctor"placeholder="name@example.com" required>
              <label for="telefonoDoctor">Teléfono</label>
              <div id="error-telefonoDoctor" class="error-messages"></div>
            </div>
            <script>
                      document.getElementById('telefonoDoctor').oninput = function(e) {
                        var inputValue = this.value;

                        this.value = inputValue.replace(/[^\d]/g, '');

                      };
                    </script>

            <div class="form-floating mb-3">
              <input type="email" class="form-control" name="correoDoctor" id="correoDoctor"placeholder="name@example.com" required>
              <label for="correoDoctor">Correo</label>
              <div id="error-correoDoctor" class="error-messages"></div>
            </div>

            <div class="form-floating mb-3">
              <input type="date" class="form-control" name="fechaNacimientoDoctor" id="fechaNacimientoDoctor"placeholder="name@example.com" required>
              <label for="fechaNacimientoDoctor">Fecha de Nacimiento</label>
              <div id="error-fechaNacimientoDoctor" class="error-messages"></div>
            </div>
            <script>
              var fechaActual = new Date();
              var inputFecha = document.getElementById('fechaNacimientoDoctor');

              inputFecha.onchange = function() {
                var fechaSeleccionada = new Date(this.value);
                if (fechaSeleccionada > fechaActual) {
                  inputFecha.value = fechaActual.toISOString().slice(0, 10);
                }
              };
            </script>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" name="especialidadDoctor" id="especialidadDoctor"placeholder="name@example.com" required>
              <label for="especialidadDoctor">Especialidad</label>
              <div id="error-especialidadDoctor" class="error-messages"></div>
            </div>
            <script>
                      document.getElementById('especialidadDoctor').onkeypress = function(e) {
                        var charCode = (typeof e.which == "number") ? e.which : e.keyCode;
                        var charTyped = String.fromCharCode(charCode);
                        var regex = /^[A-Za-záéíóúÁÉÍÓÚ\s]+$/;
                        if (!regex.test(charTyped) && charCode !== 8 && charCode !== 0) {
                          e.preventDefault();
                        }
                      };
                    </script>

            <div class="form-floating mb-3">
              <input type="file" class="form-control" name="fotoDoctor" id="fotoDoctor"  accept="image/*" required>
              <label for="fotoDoctor">Foto del Doctor</label>
              <div id="error-fotoDoctor" class="error-messages"></div>
            </div>


            <script>
                    $(document).ready(function () {
                    $("#fotoDoctor").fileinput({
                        showUpload:false,
                        showRemove: false,
                        language:'es',
                      });
                    });
            </script>




            <div class="form-floating">
              <textarea class="form-control" name="direccionDoctor" placeholder="Leave a comment here" id="direccionDoctor" style="height: 150px;" required></textarea>
              <label for="direccionDoctor">Dirección</label>
              <div id="error-direccionDoctor" class="error-messages"></div>
            </div>
            <br>
            <button type="submit" name="button" class="btn btn-outline-info rounded-pill m-2">Guardar</button>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="reset" name="button" class="btn btn-outline-danger rounded-pill m-2">Cancelar</button>
          </form>
      </div>

    </div>
</div>
<!-- Sales Chart End -->


<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Registro de Representantes</h6>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0" id="tbl_repr">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">ID</th>
                        <th scope="col">NOMBRES</th>
                        <th scope="col">APELLIDOS</th>
                        <th scope="col">CEDULA</th>
                        <th scope="col">TELÉFONO</th>
                        <th scope="col">CORREO</th>
                        <th scope="col">FECHA DE NACIMIENTO</th>
                        <th scope="col">ESPECIALIDAD</th>
                        <th scope="col">DIRECCIÓN</th>
                        <th scope="col">FOTOGRAFÍA</th>
                        <th scope="col">ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                  {% for doctor in doctores %}
                  <tr>
                    <td>{{doctor.id}}</td>
                    <td>{{doctor.nombreDoctor}}</td>
                    <td>{{doctor.apellidoDoctor}}</td>
                    <td>{{doctor.cedulaDoctor}}</td>
                    <td>{{doctor.telefonoDoctor}}</td>
                    <td>{{doctor.correoDoctor}}</td>
                    <td>{{doctor.fechaNacimientoDoctor}}</td>
                    <td>{{doctor.especialidadDoctor}}</td>
                    <td>{{doctor.direccionDoctor}}</td>
                    <td class="align-middle ">
                    {% if doctor.fotoDoctor %}
                      <a href="{{doctor.fotoDoctor.url}}" alt="" target="_blank">
                      <img src="{{doctor.fotoDoctor.url}}" alt="" style="width:100%; height:50px;"></a>
                    {% else %}
                      <b>N/A</b>
                    {% endif %}
                  </td>
                    <td>
                      <a href="/editarDoctor/{{doctor.id}}" class="btn btn-outline-success rounded-pill"><i class="fas fa-edit"></i></a><br><br>
                      <a href="javascript:void(0)"onclick="eliminarDoctor('/eliminarDoctor/{{doctor.id}}');" class="btn btn-outline-danger rounded-pill"><i class="fa fa-trash"></i></a>
                    </td>
                  </tr>
          {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
        function eliminarDoctor(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar el <b>doctor </b> seleccionado?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {

                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                  }],
              ]
          });
        }


{% if messages %}
    {% for message in messages %}
        iziToast.success({
            title: 'Éxito',
            message: '{{ message }}',
            position: 'topRight',
        });
    {% endfor %}
{% endif %}
  </script>

  <script type="text/javascript">
    $("#frm_nuevo_doctor").validate({
      errorPlacement: function(error, element) {
        var errorContainerId = 'error-' + element.attr('name');
        error.appendTo('#' + errorContainerId);
      },
      rules:{
        "nombreDoctor":{
          required:true
        },
        "cedulaDoctor":{
          required:true,
          minlength:10,
          maxlength:10
        },
        "apellidoDoctor":{
          required:true
        },
        "telefonoDoctor":{
          required:true,
          minlength:10,
          maxlength:10
        },
        "correoDoctor":{
          required:true,
          email:true
        },
        "fechaNacimientoDoctor":{
          required:true
        },
        "direccionDoctor":{
          required:true
        },
        "fotoDoctor":{
          required:true
        },
        "especialidadDoctor":{
          required:true
        }
      },
      messages:{
        "nombreDoctor":{
          required:"Debe ingresar el nombre del doctor"
        },
        "cedulaDoctor":{
          required:"Debe ingresar la cédula del doctor",
          minlength:"Su cédula debe tener solo 10 dígitos",
          maxlength:"Su cédula debe tener solo 10 dígitos"
        },
        "apellidoDoctor":{
          required:"Debe ingresar el apellido del dcotor"
        },
        "telefonoDoctor":{
          required:"Debe ingresar el número del doctor",
          minlength:"Su teléfono debe tener solo 10 dígitos",
          maxlength:"Su teléfono debe tener solo 10 dígitos"
        },
        "correoDoctor":{
          required:"Debe ingresr el correo del doctor",
          email:"Por favor ingrese un correo electrónico válido"
        },
        "fechaNacimientoDoctor":{
          required:"Debe ingresar la fecha de nacimiento del doctor"
        },
        "direccionDoctor":{
          required:"Debe ingresar la dirección del doctor"
        },
        "fotoDoctor":{
          required:"Debe seleccionar la foto del doctor"
        },
        "especialidadDoctor":{
          required:"Debe ingresar la especialidad del doctor"
        }
      }
    });
  </script>

  <script type="text/javascript">
          $(document).ready(function() {
              $('#tbl_repr').DataTable( {
                  dom: 'Bfrtip',
                  buttons: [
                      {
                          extend: 'pdfHtml5',
                          text: '<i class="fa-solid fa-file-pdf"></i> PDF',
                          className: 'btn btn-outline-primary',
                          messageTop: 'Doctores de MediKid ',
                          title:'INFORMACIÓN MEDIKID'
                      },
                      {
                          extend: 'print',
                          text: '<i class="fa-solid fa-print"></i> Imprimir',
                          className: 'btn btn-outline-primary',
                          messageTop: 'Doctores de MediKid ',
                          title:'INFORMACIÓN MEDIKID'
                      },
                      {
                          extend: 'csv',
                          text: '<i class="fa-solid fa-file-csv"></i> CSV',
                          className: 'btn btn-outline-primary',
                          messageTop: 'Doctores de MediKid ',
                          title:'INFORMACIÓN MEDIKID'
                      }
                  ],
                  language: {
                      url: "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
                  },
                  initComplete: function () {
                    $('.dataTables_filter input[type="search"]').addClass('form-control');
                  }
              } );
          } );
      </script>
{% endblock %}
