{% extends './plantilla.html' %}
{% block contenido %}

<!-- Medicamento Formulario Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Añadir Medicamento</h6>
        </div>
        <form class="" action="/guardarMedicamento/" method="post" id="frm_medicamento">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="nombreMedicamento" id="nombreMedicamento" placeholder="Nombre del medicamento" required>
                <label for="nombreMedicamento">Nombre del Medicamento</label>
                <div id="error-nombreMedicamento" class="error-messages"></div>
            </div>
            <script>
                      document.getElementById('nombreMedicamento').onkeypress = function(e) {
                        var charCode = (typeof e.which == "number") ? e.which : e.keyCode;
                        var charTyped = String.fromCharCode(charCode);
                        var regex = /^[A-Za-záéíóúÁÉÍÓÚ\s]+$/;
                        if (!regex.test(charTyped) && charCode !== 8 && charCode !== 0) {
                          e.preventDefault();
                        }
                      };
                    </script>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="dosisMedicamento" id="dosisMedicamento" placeholder="Dosis del medicamento" required>
                <label for="dosisMedicamento">Dosis del Medicamento</label>
                <div id="error-dosisMedicamento" class="error-messages"></div>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="tipoMedicamento" id="tipoMedicamento" placeholder="Tipo de medicamento" required>
                <label for="tipoMedicamento">Tipo de Medicamento</label>
                <div id="error-tipoMedicamento" class="error-messages"></div>
            </div>
            <script>
                      document.getElementById('tipoMedicamento').onkeypress = function(e) {
                        var charCode = (typeof e.which == "number") ? e.which : e.keyCode;
                        var charTyped = String.fromCharCode(charCode);
                        var regex = /^[A-Za-záéíóúÁÉÍÓÚ\s]+$/;
                        if (!regex.test(charTyped) && charCode !== 8 && charCode !== 0) {
                          e.preventDefault();
                        }
                      };
                    </script>

            <div class="form-floating mb-3">
                <textarea class="form-control" name="precaucionesMedicamento" placeholder="Precauciones del medicamento" id="precaucionesMedicamento" style="height: 150px;" required></textarea>
                <label for="precaucionesMedicamento">Precauciones del Medicamento</label>
                <div id="error-precaucionesMedicamento" class="error-messages"></div>
            </div>

            <button type="submit" name="button" class="btn btn-outline-info rounded-pill m-2">Guardar</button>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="reset" name="button" class="btn btn-outline-danger rounded-pill m-2">Cancelar</button>
        </form>
    </div>
</div>
<!-- Medicamento Formulario End -->

<!-- Lista de Medicamentos Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Listado de Medicamentos</h6>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0" id="tbl_medicamentos">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Dosis</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Precauciones</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Aquí se deben incluir las filas de datos -->
                    {% for medicamento in medicamentos %}
                        <tr>
                            <td>{{ medicamento.id }}</td>
                            <td>{{ medicamento.nombreMedicamento }}</td>
                            <td>{{ medicamento.dosisMedicamento }}</td>
                            <td>{{ medicamento.tipoMedicamento }}</td>
                            <td>{{ medicamento.precaucionesMedicamento }}</td>
                            <td>
                                <a href="/editarMedicamento/{{ medicamento.id }}" class="btn btn-outline-success rounded-pill"><i class="fas fa-edit"></i></a><br><br>
                                <a href="javascript:void(0)" onclick="eliminarMedicamento('/eliminarMedicamento/{{ medicamento.id }}');" class="btn btn-outline-danger rounded-pill"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Lista de Medicamentos End -->

<script type="text/javascript">
    $(document).ready(function () {
        $("#frm_medicamento").validate({
            errorPlacement: function (error, element) {
                var errorContainerId = 'error-' + element.attr('name');
                error.appendTo('#' + errorContainerId);
            },
            rules: {
                "nombreMedicamento": {
                    required: true
                },
                "dosisMedicamento": {
                    required: true
                },
                "tipoMedicamento": {
                    required: true
                },
                "precaucionesMedicamento": {
                    required: true
                }
            },
            messages: {
                "nombreMedicamento": {
                    required: "Debe ingresar el nombre del medicamento"
                },
                "dosisMedicamento": {
                    required: "Debe ingresar la dosis del medicamento"
                },
                "tipoMedicamento": {
                    required: "Debe ingresar el tipo del medicamento"
                },
                "precaucionesMedicamento": {
                    required: "Debe ingresar las precauciones del medicamento"
                }
            }
        });

        $('#tbl_medicamentos').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'pdfHtml5',
                    text: '<i class="fa-solid fa-file-pdf"></i> PDF',
                    className: 'btn btn-outline-primary',
                    messageTop: 'Medicamentos de MediKid ',
                    title: 'INFORMACIÓN MEDIKID'
                },
                {
                    extend: 'print',
                    text: '<i class="fa-solid fa-print"></i> Imprimir',
                    className: 'btn btn-outline-primary',
                    messageTop: 'Medicamentos de MediKid ',
                    title: 'INFORMACIÓN MEDIKID'
                },
                {
                    extend: 'csv',
                    text: '<i class="fa-solid fa-file-csv"></i> CSV',
                    className: 'btn btn-outline-primary',
                    messageTop: 'Medicamentos de MediKid ',
                    title: 'INFORMACIÓN MEDIKID'
                }
            ],
            language: {
                url: "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
            },
            initComplete: function () {
                $('.dataTables_filter input[type="search"]').addClass('form-control');
            }
        });
    });

    function eliminarMedicamento(url) {
        iziToast.question({
            timeout: 15000,
            close: true,
            overlay: true,
            displayMode: 'once',
            id: 'question',
            zindex: 999,
            title: 'CONFIRMACIÓN',
            message: '¿Está seguro de eliminar el <b>medicamento</b> seleccionado?',
            position: 'center',
            buttons: [
                ['<button><b>SI</b></button>', function (instance, toast) {
                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    window.location.href = url;
                }, true],
                ['<button>NO</button>', function (instance, toast) {
                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                }],
            ]
        });
    }

    {% if messages %}
        {% for message in messages %}
            iziToast.success({
                title: 'Éxito',
                message: '{{ message }}',
                position: 'topRight',
            });
        {% endfor %}
    {% endif %}
</script>

{% endblock %}
