{% extends './plantilla.html' %}
{% block contenido %}



<!-- Sales Chart Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
      <div class="bg-light text-center rounded p-4">
          <div class="d-flex align-items-center justify-content-between mb-4">
              <h6 class="mb-0">Añadir Receta</h6>
          </div>
          <form class="" action="/guardarReceta/" enctype="multipart/form-data" method="post" id="frm_nuevo_historial">
            {% csrf_token %}
            <div class="form-floating mb-3">
              <input type="date" class="form-control" name="fechaCreacion" id="fechaCreacion"placeholder="name@example.com" required>
              <label for="fechaCreacion">Fecha de Creación</label>
              <div id="error-fechaCreacion" class="error-messages"></div>
            </div>
            <script>
              var fechaActual = new Date();
              var inputFecha = document.getElementById('fechaCreacion');

              inputFecha.onchange = function() {
                var fechaSeleccionada = new Date(this.value);
                if (fechaSeleccionada > fechaActual) {
                  inputFecha.value = fechaActual.toISOString().slice(0, 10);
                }
              };
            </script>


            <div class="form-floating mb-3">
              <input type="number" class="form-control" name="peso" id="peso"placeholder="name@example.com" required>
              <label for="peso">Peso del paciente (Klg)</label>
              <div id="error-peso" class="error-messages"></div>
            </div>

            <div class="form-floating mb-3">
              <input type="number" class="form-control" name="altura" id="altura"placeholder="name@example.com" required>
              <label for="altura">Altura del paciente (m)</label>
              <div id="error-altura" class="error-messages"></div>
            </div>

            <div class="form-floating mb-3">
              <select  name="id_cita"  id="id_cita" class="form-control" required>
                      <option value=""> Seleccionar la cita del paciente</option>
                      {% for cita in citas %}
                      <option value="{{cita.idCita}}">De {{cita.doctor.nombreDoctor}} el {{cita.fechaCreacion}}</option>
                      {% endfor %}
              </select>
              <label for="id_historial">Cita</label>
              <div id="error-id_cita" class="error-messages"></div>
            </div>

            <br>
            <button type="submit" name="button" class="btn btn-outline-info rounded-pill m-2">Guardar</button>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="reset" name="button" class="btn btn-outline-danger rounded-pill m-2">Cancelar</button>
          </form>
      </div>

    </div>
</div>
<!-- Sales Chart End -->


<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Registro de Recetas</h6>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0" id="tbl_repr">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">ID</th>
                        <th scope="col">FECHA DE CREACIÓN</th>
                        <th scope="col">PESO</th>
                        <th scope="col">ALTURA</th>
                        <th scope="col">RECETADO POR:</th>
                        <th scope="col">ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                  {% for receta in recetas %}
                  <tr>
                    <td>{{receta.idReceta}}</td>
                    <td>{{receta.fechaCreacion}}</td>
                    <td>{{receta.peso}}</td>
                    <td>{{receta.altura}}</td>
                    <td>{{receta.cita.doctor}}</td>
                    <td>
                      <a href="/editarReceta/{{ receta.idReceta }}" class="btn btn-outline-success rounded-pill"><i class="fas fa-edit"></i></a>
                      <a href="javascript:void(0)"onclick="eliminarReceta('/eliminarReceta/{{receta.idReceta}}');" class="btn btn-outline-danger rounded-pill"><i class="fa fa-trash"></i></a>
                    </td>
                  </tr>
          {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
        function eliminarReceta(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar la <b>receta </b> seleccionada?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {

                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                  }],
              ]
          });
        }


{% if messages %}
    {% for message in messages %}
        iziToast.success({
            title: 'Éxito',
            message: '{{ message }}',
            position: 'topRight',
        });
    {% endfor %}
{% endif %}
  </script>

  <script type="text/javascript">
    $("#frm_nuevo_historial").validate({
      errorPlacement: function(error, element) {
        var errorContainerId = 'error-' + element.attr('name');
        error.appendTo('#' + errorContainerId);
      },
      rules:{
        "peso":{
          required:true
        },
        "altura":{
          required:true,
        },
        "id_cita":{
          required:true
        },
        "fechaCreacion":{
          required:true,
        }
      },
      messages:{
        "peso":{
          required:"Debe ingresar el peso"
        },
        "altura":{
          required:"Debe ingresar la altura",
        },
        "id_cita":{
          required:"Debe seleccionar la cita"
        },
        "fechaCreacion":{
          required:"Debe ingresar la fecha de la receta",
        }
      }
    });
  </script>

  <script type="text/javascript">
          $(document).ready(function() {
              $('#tbl_repr').DataTable( {
                  dom: 'Bfrtip',
                  buttons: [
                      {
                          extend: 'pdfHtml5',
                          text: '<i class="fa-solid fa-file-pdf"></i> PDF',
                          className: 'btn btn-outline-primary',
                          messageTop: 'Doctores de MediKid ',
                          title:'INFORMACIÓN MEDIKID'
                      },
                      {
                          extend: 'print',
                          text: '<i class="fa-solid fa-print"></i> Imprimir',
                          className: 'btn btn-outline-primary',
                          messageTop: 'Doctores de MediKid ',
                          title:'INFORMACIÓN MEDIKID'
                      },
                      {
                          extend: 'csv',
                          text: '<i class="fa-solid fa-file-csv"></i> CSV',
                          className: 'btn btn-outline-primary',
                          messageTop: 'Doctores de MediKid ',
                          title:'INFORMACIÓN MEDIKID'
                      }
                  ],
                  language: {
                      url: "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
                  },
                  initComplete: function () {
                    $('.dataTables_filter input[type="search"]').addClass('form-control');
                  }
              } );
          } );
      </script>
{% endblock %}
