{% extends './plantilla.html'%}
{% block contenido %}

<!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-line fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Today Sale</p>
                                <h6 class="mb-0">$1234</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-bar fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Sale</p>
                                <h6 class="mb-0">$1234</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-area fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Today Revenue</p>
                                <h6 class="mb-0">$1234</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-pie fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Revenue</p>
                                <h6 class="mb-0">$1234</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sale & Revenue End -->


            <!-- Sales Chart Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light text-right rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Paciente</h6>
                                <a href="/editarPaciente/{{ historiales.paciente.idPaciente }}" class="btn btn-outline-primary">Editar</a>
                            </div>
                            <b>Nombre:</b> {{ historiales.paciente.nombrePaciente }} <br>
                            <b>Apellido:</b> {{ historiales.paciente.apellidoPaciente }} <br>
                            <b>Cédula: </b> {{ historiales.paciente.cedulaPaciente }} <br>
                            <b>Fecha de Nacimiento: </b> {{historiales.paciente.fechaNacimientoPaciente}} <br>
                            <b>Nacionalidad: </b> {{historiales.paciente.nacionalidadPaciente}} <br>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light text-right rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Representante</h6>
                                <a class="btn btn-outline-primary" href="/editarRepresentante/{{ historiales.paciente.representante.id }}">Editar</a>
                            </div>
                            <b>Nombre:</b> {{ historiales.paciente.representante.nombreRepresentante }} <br>
                            <b>Apellido:</b> {{ historiales.paciente.representante.apellidoRepresentante }} <br>
                            <b>Cédula: </b> {{ historiales.paciente.representante.cedulaRepresentante }} <br>
                            <b>Celular: </b> {{historiales.paciente.representante.telefonoRepresentante}} <br>
                            <b>Correo: </b> {{historiales.paciente.representante.correoRepresentante}} <br>
                            <b>Nacionalidad: </b> {{historiales.paciente.representante.nacionalidadRepresentante}} <br>
                            <b>Dirección: </b> {{historiales.paciente.representante.direccionRepresentante}} <br>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sales Chart End -->


            <!-- Recent Sales Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Citas del Paciente</h6>
                    </div>
                    <div class="table-responsive">
                      <table class="table text-start align-middle table-bordered table-hover mb-0" id="tbl_repr">
                          <thead>
                              <tr class="text-dark">
                                  <th scope="col">ID</th>
                                  <th scope="col">FECHA DE CITA</th>
                                  <th scope="col">DOCTOR</th>
                              </tr>
                          </thead>
                          <tbody>
                            {% for cita in citas %}
                            <tr>
                              <td>{{ cita.idCita }}</td>
                              <td><a href="/info/{{cita.idCita}}">{{ cita.fechaCreacion }}</a></td>
                              <td>{{ cita.doctor.nombreDoctor }}</td>
                              <td>
                                <a href="/editarCita/{{ cita.idCita }}" class="btn btn-outline-success rounded-pill"><i class="fas fa-edit"></i></a><br><br>
                                <a href="javascript:void(0)"onclick="eliminarCita('/eliminarCita/{{ cita.idCita }}');" class="btn btn-outline-danger rounded-pill"><i class="fa fa-trash"></i></a>
                              </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                      </table>
                    </div>
                </div>
            </div>
            <!-- Recent Sales End -->




{% endblock %}
